
//adding footer
footer.section.footer-classic.context-dark.bg-image(style='background: #a8a8a8;')
  .container
    .row.row-30
      .col-md-4.col-xl-5
        .pr-xl-4
          a.brand(href='index.html')
            img.brand-logo-light(src='images/agency/logo-inverse-140x37.png', alt='', width='140', height='37', srcset='images/agency/logo-retina-inverse-280x74.png 2x')
            p Copyright 2019 Dharmik patel
            p 200382863
            p Name: Dharmik Patel
            p Email: dharmikpatel1311@gmail.com
            p Phone: 7059707380
            
