
//header with the nav-bar  for link to different pages
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='/home') Dharmik
  button.navbar-toggler(type='button', data-toggle='collapse', 
  data-target='#navbarColor01', aria-controls='navbarColor01', 
  aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/home') Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/about') About
      li.nav-item
        a.nav-link(href='/projects') Projects
      li.nav-item
        a.nav-link(href='/services') Services
      li.nav-item
        a.nav-link(href='/contact') Contact
        
