ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ec2828;
  border: 1px solid rgb(15, 15, 15);
}

li a {
  display: block;
  color: rgba(0, 0, 0, 0.582);
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid rgb(85, 85, 85);
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: rgb(175, 76, 167);
  color: white;
}

li a:hover:not(.active) {
  background-color: rgb(224, 97, 97);
  color: rgba(255, 255, 255, 0.123);
}
